# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code / IDEs
.vscode/
.idea/
*.swp

# macOS
.DS_Store

# Virtual environments
.python-version

# Ignored Topics & Job Target info
AI_ML_Engineer/
AI_DS_JOB_TARGET_COMPANIES.md
